  .main-images {
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    border: 2px solid darkgrey;
    display: inline-flex;
  }

  img {
    max-width: 100%;
  }

  .image-text {
    font-size: 1.5em;
    max-height: 5px;
    max-width: 0;
    position: absolute;
    color: white;
    text-shadow: -1px 0 grey, 0
      1px grey, 1px 0 grey, 0 -1px grey;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 350px;
  }

  .image-view {
    max-width: 100%;
    display: block;
    margin-top: 80px;
    margin-left: 2px;
    margin-bottom: 100px;
  }

  @media (max-width: 400px){
    .main-images {
      max-width: 100%;
      margin-top: 40px;
      transform: rotate(270deg);
      margin-left: 2px;
      margin-bottom: 100px;
    }

    .image-view {
      margin-bottom: 60px;
    }
  }
